@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10px;
    padding: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

menu {
    display: none;
}